.headerCss {
  @apply bg-white/90 backdrop-blur border-b border-slate-100 px-4 sm:px-10 py-5 flex flex-col gap-4 md:flex-row md:items-center md:justify-between shadow;
}
.logoCss {
  @apply h-12 w-12 rounded-2xl bg-slate-900 text-white flex items-center justify-center text-lg font-semibold;
}
@layer utilities {
  .shadow-black {
    box-shadow: 4px 4px 0 #000;
  }
  .shadow-white {
    box-shadow: 4px 4px 0 #fff;
  }
}
